.about{
    text-align: center;
    margin-top: 100px;
}

.about h1{
    color: #c5375d;
    font-family: 'Playpen Sans', cursive;
}

.about span{
    color: #e06e2c;
}

.about img{
    width: 30%;
}

.about p{
    color: #7c7c7c;
    margin-bottom:0em ;
}

@media screen and (max-width: 800px){
    .about{
        margin-top: 80px;
        padding: 0 2em;
    }

    .about img{
        width: 50%;
    }
}