.about{
    text-align: center;
}

.about h1{
    color: #c5375d;
    font-family: 'Playpen Sans', cursive;
}

.about span{
    color: #e06e2c;
}

.about img{
    width: 20%;
}

.about p{
    color: #7c7c7c;
    margin-bottom:0em ;
}