.registerContainer{
    text-align: center;
    padding: 1em;
}

.registerContainer h1{
    font-family: 'Playpen Sans', cursive;
    color: #c5375d;
}

.registerContainer p{
    color: #7c7c7c;
}

@media screen and (max-width: 800px){
    .registerContainer h1{
        margin-top: 0;
    }    
}