.editPostContainer{
    text-align: center;
    padding: 1em;
}

.editPostContainer a{
    display: none;
}

.editPostContainer h1{
    color: #c5375d;
    font-family: 'Playpen Sans', cursive;
}

.textEditPostContainer{
    color: #7c7c7c;
}

.textPreviewImage{
    color: #f9f9f9;
    text-align: left;
    font-weight: bold;
}

.previewImage{
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 800px){
    .editPostContainer a{
        display: inline-block;
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0 0.5em;
        font-size: 1.5em;
        color: #c5375d;
    }

    .editPostContainer h1{
        margin: 0 1em 0.5em 1em

    }

    .previewImage{
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 500px){

    .previewImage{
        width: 100%;
        height: 200px;
    }
}