.navContainer{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.headerMenu{
    background-color: #ffcca4;
    width: 100%;
    height: 8vh;
}

.headerMenu img{
    width: 8%;
    position: absolute;
    padding: 0.5em 1em;
}

.menuBtn{
    display: none;
    color: #c5375d;
    font-size: 1em;
}

.navbar{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0.5em 1em 0 1em;
    background-color:#ffcca4;
}

.navItens{
    display: flex; 
}

.navItens li{
    margin-right: 0.5em;
    list-style: none;
}

.navItens a, .navItens Button{
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #e06e2c;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
}

.navItens a:hover{
    color: #c5375d;
    text-decoration: underline;
}

.navItens Button:hover{
    color: #c5375d;
    text-decoration: underline;
}


@media screen and (max-width: 800px){
    .headerMenu{
        background-color: #ffcca4;
        border-bottom: 1px solid #c5375d;
        width: 100%;
        height: 13vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .headerMenu img{
        width: 60px;
        top: 0;
        position: absolute;
        padding: 0.5em;
    }
    
    .menuBtn{
        display: block;
        color: #c5375d;
        background-color: transparent;
        border: none;
        font-size: 1em;
        justify-content: end;
        padding: 1em;
        cursor: pointer;     
    }

    .navbar{
        display: flex;
        position: absolute;
        width: 150px;
        height: 150vh;
        top: 13.1vh;
        right: -100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        background-color:#ffcca4;
        transition: 1s;
    }

    .navItensToggle{
        right: 0;
    }

    .navItens{
        flex-direction: column;
        width:100%;
        margin: 0;
        padding: 0;
    }

    .navItens li{
        border-bottom: 1px solid #c5375d;
        margin: 0;
        padding: 1em 0;
        text-align: center;
    }

    .navItens li:last-child{
        border-bottom: none;
    }
}