.navbar{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: .5em;
    background-color:#ffcca4;
}

.navbar img{
    width: 20%;
}

.NavItens{
    display: flex;
}

.NavItens li{
    margin-right: 0.5em;
    list-style: none;
}

.NavItens a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #e06e2c;
    transition: .5s;
}

.NavItens a:hover{
    color: #c5375d;
}