.postsCard{
    display: flex;
    flex-direction: column;
    border: 3px solid #c5375d;
    border-radius: 20px;
    width: 40%;
    margin-top: 1em;
    padding: 1em;
    background-image: linear-gradient(to bottom right, #c5375d, #e06e2c);
}

.postsCard h2{
    color: #f9f9f9;
}

.postsCard img{
    border-radius: 20px;
    height: 300px;
    margin-bottom: 1em;
}

.postsCard a{
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.createdBy{
    font-size: 0.8em;
    font-style: italic;
    color: #d6d6d6;
}

.cardTags{
    display: flex;
}

.cardTags p{
    color: #f9f9f9;
    margin-right: 0.5em;
    font-size: 0.8em;
}

.cardTags span{
    font-weight: bold;
    margin-right: 0.1em;
}


