body {
  margin: 0;
  padding: 0;
  background-color: #ffefef;
  font-family: 'Montserrat', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

form{
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #c5375d, #e06e2c);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span{
  color: #f9f9f9;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.2em;
}

input{
  background-color: #f9f9f9;
  opacity: 0.2;
  border: none;
  border-radius: 25px;
  padding: 1em 0.5em;
  transition: 0.5s;
}

input:focus{
  opacity: 1;
}

.err{
  width: 15%;
  margin: 1em auto;
  background-color: #fe9595;
  font-weight: bold;
  color: #d61212;
  border-radius: 25px;
  border: 1px solid #d61212;
  padding: 0.2em 0.5em;  
}
