body {
  margin: 0;
  padding: 0;
  background-color: #ffefef;
  font-family: 'Montserrat', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

form{
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #c5375d, #e06e2c);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span{
  color: #f9f9f9;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.2em;
}

input{
  background-color: #f9f9f9;
  opacity: 0.2;
  border: none;
  border-radius: 25px;
  padding: 1em 0.5em;
  transition: 0.5s;
}

input:focus{
  opacity: 1;
}

.btnForm{
  padding: 0.5em 1em;
  border-radius: 20px;
  border: 1px solid #c5375d;
  margin-top: 1em;
  font-weight: bold;
  color: #c5375d;
  cursor: pointer;
  transition: 1s;
}

.btnForm:hover{
  background-color: #c5375d;
  color: #f9f9f9;
  box-shadow: 0px 0px 8px 0px #ffffff;
}

.err{
  width: 15%;
  margin: 1em auto;
  background-color: #d47c7c;
  font-weight: bold;
  color: #d61212;
  border-radius: 25px;
  border: 1px solid #d61212;
  padding: 0.2em 0.5em;  
}

.success{
  width: 15%;
  margin: 1em auto;
  background-color: #7dcd76;
  font-weight: bold;
  color: #26d612;
  border-radius: 25px;
  border: 1px solid #26d612;
  padding: 0.2em 0.5em;  
}

textarea {
  height: 10em;
  background-color: #f9f9f9;
  opacity: 0.2;
  border: none;
  border-radius: 25px;
  padding: 1em 0.5em;
  transition: 0.5s;
}

textarea:focus {
  opacity: 1;
}

@media screen and (max-width: 800px){
  form{
    width: 60%;
  }

}

@media screen and (max-width: 500px){
  form{
    width: 80%;
  }

}