.createPostContainer{
    text-align: center;
    padding: 1em;
}

.createPostContainer h1{
    color: #c5375d;
    font-family: 'Playpen Sans', cursive;
}

.textCreatePost{
    color: #7c7c7c;
}

.uploadImg input {
    color: #000000;
    cursor: pointer;
    border: 5px dotted #9f9f9f;
    box-sizing: border-box;
}

@media screen and (max-width: 800px){
    .createPostContainer h1{
        margin: 0;
    }
}